.bs-example  div[class^="col"] {
    border: 1px solid white;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.top-heading {
    background-image: linear-gradient(to right, #053954, #1c809d);
}

.logo-position {
    padding-left: 300px;
}

.heading-colour {
    color: white;
}

.searchBar-position {
    padding-left: 700px;
}

.navbar-position {
    padding-left: 300px;
}

.mainHeading-background {
    background-color: #0098b0;
}

.mainHeading{
    text-align: center;
    padding-top: 25px;
    color: white;
}

.portal-contents {
    border-bottom: 2px solid #007dab;
}

.subHeading {
    text-align: center;
    font-size: 30px;
    padding-top: 25px;
    color: #007dab;
}

.paragraph-text {
    text-align: left;
}

.information-text {
    text-align: center;
    padding-top: 20px;
}

.powerGrid-text {
    text-align: center;
    padding-top: 25px;
    font-size: 23px;
    color: white;
}

.powerGridContent-text {
    text-align: left;
    padding-top: 25px;
    font-size: 17px;
}

.network1 {
    text-align: left;
    padding-top: 25px;
    font-size: 17px;
}

.network2 {
    text-align: center;
    padding-top: 25px;
    font-size: 17px;
}

.form-line {
    text-align: left;
    padding-left: 5px;
    font-size: 20px;
    color: black;
}

.form-line2 {
    text-align: left;
    padding-left: 5px;
    font-size: 17px;
    color: black;
}

.login-position {
    padding-right: 550px;
}

.footer-border {
    border-top: 2px solid #d9d9dc;
}

.footer {
    background-color: #f0f3f5;
    border-top: 6px solid #224a61;
}

.footerContent-position {
    padding-left: 150px;
}

.footer-heading {
    font-size: 18px;
    font-family: Arial;
    color: black;
    text-align: center;
    padding-top: 10px;
}



